body {
  background-color: white;
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------- Contact me --------- */
.pagetitle h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #333;
  margin: 0 auto;
}

.pagetitle h1:hover {
  font-size: 18px;
  transition: 0.1s font-size linear;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: calc(4vmin + 1px);
    color: black;
  }
  ul {
    font-size: 30px;
  }
  .page {
    width: 100%;
    margin: 0 auto;
  }
  .about {
    display: inline-block;
    height: 800px;
    max-height: 800px;
    width: 60%;
    max-width: 60%;
    overflow: hidden;
  }
  .picture {
    display: inline-block;
    height: 800px;
    max-height: 800px;
    width: 45%;
    max-width: 45%;
    overflow: hidden;
  }
}

.page h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: #333;
}

ul {
  align-content: center;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  position: relative;
  display: inline-block;
}

.transition:hover {
  font-size: 15px;
  transition: 0.1s font-size linear;
}

li {
  float: left;
  margin: 0 auto;
}

.nav {
  width: 100%;
  text-align: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  padding-right: 35px;
  text-decoration: none;
  font-family: "Cormorant", "Lucida Sans", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 16px;
}

li a:hover {
  background-color: rgb(243, 204, 211);
}

section {
  display: block;
  margin: 0 auto;
  position: relative;
}

.pagetitle {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
  width: 476px;
}

.intro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
  width: 476px;
  margin: 0 auto;
}
form {
  margin: 0 auto;
  max-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
  font-size: 13px;
}

.myform {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.5px;
}

form > div {
  width: 150%;
  margin-top: 1em;
}

input:focus,
textarea:focus {
  border-color: #000;
}

form > div > input {
  width: 100%;
}
textarea {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: none;
  border: 1px solid #999;
  vertical-align: top;
  height: 5em;
  padding-top: 25px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

input[type="text"],
[type="email"],
[type="password"],
[type="textarea"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.typeofjob {
  margin-bottom: 20px;
}

button {
  padding: 5px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #5d6063;
  border-radius: 5px;
  font-weight: bold;
  justify-content: center;

  width: 100px;
  margin: 0 auto;
}
.a {
  text-align: center;
}

/* --------- About --------- */
.anajoaomachado {
  width: 45‰;
  position: relative;
  justify-self: start;
  align-self: start;
  font-size: 17px;
  padding-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.page h3 {
  width: 45%;
  position: relative;
  justify-self: start;
  align-self: start;
  font-size: 14px;
  padding-left: 110px;
  font-family: Arial, Helvetica, sans-serif;
}

.about {
  width: 45%;
  min-height: 160px;
  position: relative;
  justify-self: start;
  align-self: start;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.5px;
  display: inline-block;
}
.picture {
  width: 45%;
  position: relative;
  justify-self: start;
  align-self: start;
  display: inline-block;
}
.page {
  width: 45%;
  padding: 150px 0px;
  position: relative;
  display: block;
  margin: 0 auto;
}

/* ----------- Nav ------------ */
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(235, 222, 224);
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  z-index: 0;
}
.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: rgb(243, 204, 211);
  padding: 0 5px;
  border-radius: 30%;
  color: white;
}
/*-------- Products --------*/

.products {
  padding: 4rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: rgb(235, 222, 224);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: all 0.3s linear;
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: white;
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  height: 250px;
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: all 0.3s linear;
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: 0.1rem;
  color: rgb(235, 222, 224);
  text-align: center;
}

/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background: rgba(214, 209, 219, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(243, 239, 243);
  padding: 1.5rem;
  transition: all 0.3s linear;
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.5rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: rgb(235, 222, 224);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.banner-btn {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  background: rgb(235, 222, 224);
  color: black;
  border: 1px solid rgb(235, 222, 224);
  transition: all 0.3s linear;
  cursor: pointer;
  text-align: center;
}
.banner-btn:hover {
  background: transparent;
  color: rgb(212, 194, 175);
}

/* --------------- End of Cart ---------------- */
