body {
  background-color: white;
  margin-bottom: 50px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #333;
  margin: 0 auto;
}

h1:hover {
  font-size: 18px;
  transition: 0.1s font-size linear;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: calc(4vmin + 1px);
    color: black;
  }
  ul {
    font-size: 30px;
  }
  .page {
    width: 100%;
    margin: 0 auto;
  }
  .about {
    display: inline-block;
    height: 800px;
    max-height: 800px;
    width: 60%;
    max-width: 60%;
    overflow: hidden;
  }
  .picture {
    display: inline-block;
    height: 800px;
    max-height: 800px;
    width: 45%;
    max-width: 45%;
    overflow: hidden;
  }
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: #333;
}

ul {
  list-style-type: none;
  margin-bottom: 50px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  overflow: hidden;
}

.transition:hover {
  font-size: 15px;
  transition: 0.1s font-size linear;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  padding-right: 35px;
  text-decoration: none;
  font-family: "Cormorant", "Lucida Sans", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 16px;
}

li a:hover {
  background-color: rgb(243, 204, 211);
}

section {
  display: block;
  margin: 0 auto;
  position: relative;
}

.pagetitle {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
  width: 476px;
}

.intro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
  width: 476px;
  margin: 0 auto;
}
form {
  margin: 0 auto;
  max-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
  font-size: 13px;
}

.myform {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.5px;
}

form > div {
  width: 150%;
  margin-top: 1em;
}

input:focus,
textarea:focus {
  border-color: #000;
}

form > div > input {
  width: 100%;
}
textarea {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: none;
  border: 1px solid #999;
  vertical-align: top;
  height: 5em;
  padding-top: 25px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

input[type="text"],
[type="email"],
[type="password"],
[type="textarea"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.typeofjob {
  margin-bottom: 20px;
}

button {
  padding: 5px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #5d6063;
  border-radius: 5px;
  font-weight: bold;
  justify-content: center;

  width: 100px;
  margin: 0 auto;
}
.a {
  text-align: center;
}

.anajoaomachado {
  width: 45‰;
  position: relative;
  justify-self: start;
  align-self: start;
  font-size: 17px;
  padding-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h3 {
  width: 45%;
  position: relative;
  justify-self: start;
  align-self: start;
  font-size: 14px;
  padding-left: 110px;
  font-family: Arial, Helvetica, sans-serif;
}

.about {
  width: 45%;
  min-height: 160px;
  position: relative;
  justify-self: start;
  align-self: start;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.5px;
  display: inline-block;
}
.picture {
  width: 45%;
  position: relative;
  justify-self: start;
  align-self: start;
  display: inline-block;
}
.page {
  width: 45%;
  padding: 150px 0px;
  position: relative;
  display: block;
  margin: 0 auto;
}
